<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>FindPhone</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:300,400,900&amp;subset=cyrillic" rel="stylesheet">
  <body>
    <header>
      <nav>
        <%= link_to 'Phones', controller: 'phones'%>
        <%= link_to 'Tablets', controller: 'tablets'%>
        <%= link_to 'Watches', controller: 'watches'%>
      </nav>
    </header>
    <main>
      <figure class="img">
        <figcaption>FindPhone</figcaption>
        <p>The best site for finding your new phone & other devices</p>
        <button>find phone</button>
      </figure>
      <figure class="blank">

      </figure>
    </main>
    <footer>

    </footer>
  </body>
</html>
