// Global Tags

$primary: #009688;
$secondary: #FFA000;
$secondary-2: #FF6F00;
$secondary-3: #FF8F00;
$bg: #FAFAFA;
$gray: #757575;

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*::selection {
  background-color: #FF8F00;
  color: #FFF;
}

a {
  text-decoration: none;
  color: inherit;
  transition-duration: 0.1s;
}

body {
  height: 100%;
  cursor: default;
  background-color: $bg;
}

li {
  list-style: none;
}

button {
  transition-duration: 0.1s;
  border: 0;
  outline: 0;
  background: none;
}

header {
  position: absolute;
  width: 100%;
}

// End Of Global Tags

nav {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #FFF;
  margin: 30px 0 0 10vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 260px;
}

nav a {
  padding-bottom: 5px;
  border-bottom: 1px solid #FFF;
}

nav a:hover {
  border-bottom: 1px solid $secondary;
}

.teal {
  padding: 15vh 0 0 10vw;
  background-image: asset-url("backgrounds/main.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  background-color: $primary;
  height: 35vh;
}

.teal figcaption {
  font-family: 'Roboto', sans-serif;
  font-size: 47px;
  font-weight: 900;
  text-transform: uppercase;
  color: #FFF;
}

.teal p {
  font-family: 'Open sans', sans-serif;
  font-weight: normal;
  color: #FFF;
  width: 280px;
}

.find {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #FFF;
  text-transform: uppercase;
  margin-top: 50px;
  width: 200px;
  height: 40px;
  background-color: $secondary;
  box-shadow: 0 3px 0 $secondary-2;
  border-radius: 3px;
  cursor: pointer;
}

.find:hover {
  background-color: $secondary-3;
  box-shadow: 0 3px 0 $secondary-2;
}

.orange {
  background-color: $secondary;
  padding: 5vh 0;
}

.orange p {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #FFF;
  text-align: center;
}

.blank {
  display: flex;
  flex-flow: column wrap;
  margin: 5vh auto;
  width: 30vw;
  height: 20vh;
}

.blank figcaption {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: $primary;
}

.blank p {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: $gray;
  width: 200px;
}

footer {
  background-color: $gray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
}

footer section {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #FFF;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 150px;
  margin: 0 5vw;
  width: auto;
}

footer section a:hover {
  color: $secondary;
}

.copyright {

}
