<p>
  <strong>name:</strong>
  <%= @manufacturer.name %>
</p>

<p>
  <strong>description:</strong>
  <%= @manufacturer.description %>
</p>

<p>
  <strong>devices:</strong>
  <%= @manufacturer.devices %>
</p>
